.wrapper-card {
	cursor: pointer;
	transition: all 0.3s;
}

.card-article {
	max-width: 30rem;
	margin: 0;
	border: none;
}

.card-body {
	text-align: left;


}
.card-articleinfo {
	display: flex;
	justify-content: space-between;
	padding: 0 1.25rem 0 1.25rem;

}
.card-articleinfo p, 
.card-articleinfo img {
	margin-bottom: 0rem;
	font-style: italic;
	
	
}

.card-avatar {
	width: 1.75rem;
	height: 1.75rem;
	margin-bottom: 1rem;

}
.card-author {
	display: flex;
	margin-bottom: 0rem;
}
.card hr {
	border-top: 0.1rem solid rgba(0, 0, 0, 0.2);

}
.articlecard-img {
	max-height: 300px;

}

.wrapper-card:hover {
	
	transform: scale(1.02); 
}