.container {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  height: 100%;
}
.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.right-side {
  margin-left: 200px;
  display: block;
}

.img-responsive {
  margin-bottom: 30px;
}