#publish-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
	margin: auto;
}

.border-publish {
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: px solid #DDD;
  box-shadow: inset 0 1px 4px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

#content-wrapper {
	display: flex;
	padding-right: 6rem;
	padding-left: 6rem;
	padding-top: 2rem;
	flex-direction: column;
	width: 69.5%;
	 border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px 0.4px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	
	margin-right: 1%;
}
#image-wrapper {
	display: flex;
	flex-direction: row;

}

#input-wrapper {
	display: flex;
	flex-direction: column;

}
#preamble{
	height: 10rem;
}

#content{
	height: 20rem;
	margin-bottom: 10px;
}

#button-wrapper button {
	margin-right: 10px;
}

#settings-wrapper {
	background-color: #D2D1D1;
	width: 29.5%;
	padding-right: 4rem;
	padding-left: 4rem;
	padding-top: 2rem;
	border-radius: 3px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;

}
#settings-wrapper div {
	margin-bottom: 20px;
}

#tag-wrapper input {
	width: 100%;
}

#schedule-wrapper input {
	width: 100%;

}

#add-wrapper button {
	margin-right: 10px;
	background-color: black;
	color: white;

}

#image-field {
	width: 100%;
}

#image-btn-publish {
	margin-left: 10px;
	background-color: black;
	color: white;
}

#publish-btn-publish {
	background-color: black;
	color: white;
}


#delete-btn-publish {
	float: right;
	clear: right;
}

label {
	font-size: 1.3rem;

}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
   
    cursor: pointer;
}
.file-upload-btn {
	margin-left: 10px;


}
input[type="file"] {
    display: none;
}


